:root {
    --smokyBlackColor: #121113;
    --babyPowderColor: #F7F7F2;
    --paleSpringBudColor: #E4E6C3;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Manrope", sans-serif;
    background-color: var(--smokyBlackColor);
    color: var(--babyPowderColor);
}

#welcome-section {
    height: 100vh;
}

#contact-details {
    height: 100vh;
}